<div class="container">

  <div [hidden]="!hasError" class="alert alert-danger" role="alert">
    {{errorMessage}}
  </div>

  <div>
    <div>
      <h1>Search by pet Query (Normal table)</h1>
      <form (ngSubmit)="onSubmit()" #petQueryForm="ngForm">
        {{diagnostic}}

        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name"
                 required
                 [(ngModel)]="petQueryModel.name" name="name"
                 #name="ngModel">
          <div [hidden]="name.valid || name.pristine"
               class="alert alert-danger">
            Name is required
          </div>
        </div>

        <div class="form-group">
          <label for="statusName">statusName</label>
          <input type="text" class="form-control" id="statusName"
                 [(ngModel)]="petQueryModel.statusName" name="statusName">
        </div>

        <button type="submit" class="btn btn-success" [disabled]="!petQueryForm.form.valid">search</button>
      </form>
    </div>


    <h3>Normal table without pagination</h3>
    <div class="container">
      <table class="table table-hover">
        <thead>
        <tr>
          <td>Id</td>
          <td>name</td>
          <td>category</td>
          <td>status</td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let pet of allPets">
          <td>{{pet.id}}</td>
          <td>{{pet.name}}</td>
          <td>{{pet.category.name}}</td>
          <td>{{pet.status}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<style>
  .no-style .ng-valid {
    border-left: 1px solid #CCC
  }

  .no-style .ng-invalid {
    border-left: 1px solid #CCC
  }
</style>
