<div  class="container">

  <div [hidden]="!hasError" class="alert alert-danger" role="alert">
    {{errorMessage}}
  </div>

  <div [hidden]="submitted">
    <h1>Add new Pet</h1>
    <form (ngSubmit)="onSubmit()" #addPetForm="ngForm">
      {{diagnostic}}
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name"
               required
               [(ngModel)]="addPetModel.name" name="name"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Name is required
        </div>
      </div>


      <div class="form-group">
        <label for="category">Category</label>
        <select class="form-control" id="category"
                required
                [(ngModel)]="selectedCategoryId" name="category"
                #category="ngModel">
          <option *ngFor="let selectedCategory of categories" [value]="selectedCategory.id">{{selectedCategory.name}}</option>
        </select>
        <div [hidden]="category.valid || category.pristine" class="alert alert-danger">
          Category is required
        </div>
      </div>

      <div class="form-group">
        <label for="status">Status</label>
        <select class="form-control" id="status"
                required
                [(ngModel)]="addPetModel.status" name="status"
                #status="ngModel">
          <option *ngFor="let selectedStatus of statuses" [value]="selectedStatus">{{selectedStatus}}</option>
        </select>
        <div [hidden]="status.valid || status.pristine" class="alert alert-danger">
          Status is required
        </div>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!addPetForm.form.valid">Submit</button>
    </form>
  </div>

  <div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">Name</div>
      <div class="col-xs-9">{{ addPetModel.name }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">category</div>
      <div class="col-xs-9">{{ addPetModel.category.name }}</div>
    </div>
    <br>
    <button class="btn btn-primary" (click)="submitted=false">Edit</button>
  </div>
</div>

<hr>
<style>
  .no-style .ng-valid {
  border-left: 1px  solid #CCC
}

  .no-style .ng-invalid {
  border-left: 1px  solid #CCC
}
</style>
