export interface {{classname}}{{#vendorExtensions.x-generic}}<T>{{/vendorExtensions.x-generic}}{{#allParents}}{{#-first}} extends {{/-first}}{{{.}}}{{^-last}}, {{/-last}}{{/allParents}} { {{>modelGenericAdditionalProperties}}
{{#vars}}
    {{#description}}
        /**
        * {{{description}}}
        */
    {{/description}}
    {{#isReadOnly}}readonly {{/isReadOnly}}{{{name}}}{{^required}}?{{/required}}: {{#isEnum}}{{{datatypeWithEnum}}}{{/isEnum}}{{^isEnum}}{{^vendorExtensions.x-generic-array}}{{{dataType}}}{{/vendorExtensions.x-generic-array}}{{/isEnum}}{{#vendorExtensions.x-generic-array}}Array<T>{{/vendorExtensions.x-generic-array}}{{#isNullable}} | null{{/isNullable}};
{{/vars}}
}{{>modelGenericEnums}}
