<div class="container">

  <div [hidden]="!hasError" class="alert alert-danger" role="alert">
    {{errorMessage}}
  </div>

  <div>
    <h1>Search by pet Query (Pageable table)</h1>
    <form (ngSubmit)="onPagedSubmit()" #petQueryForm="ngForm">

      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name"
               required
               [(ngModel)]="pageablePetQueryModel.name" name="name"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Name is required
        </div>
      </div>

      <div class="form-group">
        <label for="statusName">statusName</label>
        <input type="text" class="form-control" id="statusName"
               [(ngModel)]="pageablePetQueryModel.statusName" name="statusName">
      </div>

      <div class="form-group">
        <label for="pageSize">page size</label>
        <input type="text" class="form-control" id="pageSize"
               required
               [(ngModel)]="pageable.size" name="pageSize"
               #pageSize="ngModel">
        <div [hidden]="pageSize.valid || pageSize.pristine"
             class="alert alert-danger">
          page size is required
        </div>
      </div>

      <div class="form-group">
        <label for="pageNumber">page number</label>
        <input type="text" class="form-control" id="pageNumber"
               required
               [(ngModel)]="pageable.page" name="pageNumber"
               #pageNumber="ngModel">
        <div [hidden]="pageNumber.valid || pageNumber.pristine"
             class="alert alert-danger">
          page number is required
        </div>
      </div>

      <div class="form-group">
        <label for="totalElements">totalElements</label>
        <input type="text" class="form-control" id="totalElements"
               disabled
               [(ngModel)]="currentPetPage.totalElements" name="totalElements">
      </div>

      <div class="form-group">
        <label for="totalPages">totalPages</label>
        <input type="text" class="form-control" id="totalPages"
               disabled
               [(ngModel)]="currentPetPage.totalPages" name="totalPages">

      </div>

      <div class="form-group">
        <label for="size">size</label>
        <input type="text" class="form-control" id="size"
               disabled
               [(ngModel)]="currentPetPage.size" name="size">

      </div>
      <button type="submit" class="btn btn-success" [disabled]="!petQueryForm.form.valid">search</button>
    </form>
  </div>

  <h3>Table with pagination</h3>
  <div class="container">
    <table class="table table-hover">
      <thead>
      <tr>
        <td>Id</td>
        <td>name</td>
        <td>category</td>
        <td>status</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let pet of pagedPets">
        <td>{{pet.id}}</td>
        <td>{{pet.name}}</td>
        <td>{{pet.category.name}}</td>
        <td>{{pet.status}}</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
<style>
  .no-style .ng-valid {
    border-left: 1px solid #CCC
  }

  .no-style .ng-invalid {
    border-left: 1px solid #CCC
  }
</style>
