

<div class="container">
  <nav>
    <a routerLink="/add-pet">add pet</a>
  </nav>
  <nav>
    <a routerLink="/">list of pets</a>
  </nav>
  <nav>
    <a routerLink="/pageable-pet-by-object-query">pageable list of pets</a>
  </nav>
</div>
<router-outlet></router-outlet>
